db:
  user: 'postgres'
  host: 'localhost'
  port: '5432'
  database: 'slack_bot'
slack:
  token: 'LoL'
  channelName: 'curry-bot-tests'
bamboo:
  token: 'LoL'
  reportId: '125'
ignoredBirthdays:
  - 'example@domain.com'
